@font-face {
  font-family: Luminari;
  src: URL('Luminari.ttf') format('truetype');
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.fill {
  height: 100%;
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.blur {
  filter: blur(7px);
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexWrap {
  flex-wrap: wrap;
  overflow: auto;
}

.fromStart {
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.spaced {
  justify-content: space-between;
}

.centered {
  align-items: center;
}

.spaceAround {
  justify-content: space-around;
}

.bold {
  font-weight: 600;
}

.button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.images {
  max-height: 75%;
  max-width: 75%;
}

.roundImages {
  max-height: 65%;
  max-width: 65%;
}

.modalContainer {
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2% 5% 5% 5%;
  overflow: hidden;
}

.modalBox {
  height: 90vh;
  width: 90vw;
  position: relative;
}

.opcionesBox {
  position: absolute;
  top: 2px;
  right: 0;
  height: 10%;
  width: 20%;
  margin: 8px;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  z-index: 10;
}

.opcionesButton {
  border-radius: 50%;
  border: 2px solid;
  border-color: black;
  max-height: 9vh;
  max-width: 9vh;
  min-height: 9vh;
  min-width: 9vh;
}

.windowContainer {
  position: absolute;
  display: flex;
  padding: 4px;
}

.notasWindowMap {
  top: 50%;
  left: 0;
  width: 20%;
  height: 48%;
  z-index: 10;
}

.notaAreaWindowMap {
  top: 50%;
  right: 0;
  width: 20%;
  height: 48%;
  z-index: 10;
}

.notasWindowCombat {
  top: 60%;
  left: 0;
  width: 41%;
  height: 38%;
  z-index: 10;
}

.notaAreaWindowCombat {
  top: 60%;
  right: 0;
  width: 20%;
  height: 38%;
  z-index: 10;
}

.loggerWindowMap {
  bottom: 1%;
  left: 21%;
  width: 57%;
  height: 18%;
  z-index: 10;
}

.loggerWindowCombat {
  bottom: 1%;
  left: 42%;
  width: 36%;
  height: 18%;
  z-index: 10;
}

.messagesContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  overflow: auto;
  width: 100%;
}

.listBoxing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
}

.shareableContentBoxing {
  top: 18px;
}

.loggerMessage {
  line-height: 14px;
  font-size: 12px;
  word-break: break-all;
  min-width: 100%;
  max-width: 100%;
}

.loggerInputContainer {
  position: absolute;
  display: flex;
  bottom: 2px;
  left: 1px;
  right: 2px;
  height: 18px;
  line-height: 16px;
  font-size: 12px;
}

.loggerInputContainer input {
  line-height: 16px;
  font-size: 14px;
  flex: 1;
  outline: none;
  background-color: darkgrey;
}

.loggerInputContainer input:focus {
  border: solid 2px #6495ed
}

.windowBox {
  position: relative;
  border: 4px solid;
  border-radius: 8px;
  border-image: url(../assets/borders/cloud.png) 100 round;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.paper {
  background-image: url(../assets/backgrounds/paper.png);
  background-position: center; 
  background-repeat: repeat;
  background-size: auto;
  background-blend-mode: overlay;
}

.gear {
  background-color: rgb(75, 57, 11);
  background-image: url(../assets/backgrounds/mechanus.png);
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
  border-radius: 16px;
  border: double black 4px;
}

.boxTitle {
  font-family: Luminari;
  height: 16px;
  width: 100%;
  border: 0px solid;
  border-image: url(../assets/borders/cloud.png) 50 round;
  border-bottom-width: 2px;
  border-color: rgb(221, 160, 221);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0px
}

.botonAmpliar {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  height: 14px;
  width: 14px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.botonAnotar {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  height: 16px;
  width: 16px;
  background-image: radial-gradient(circle closest-side, white 1%, transparent);
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 5;
}

.contentTitleBox {
  position: relative;
  width: auto;
  min-height: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: springgreen;
  border: solid 1px black;
  border-radius: 1px;
}

.contentTitleBoxTitle {
    line-height:  16px;
    text-align: center;
    font-size: 12px;
}

.navegacionBackButton {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.gearButtons {
  position: relative;
  font-family: Luminari;
  font-size: 24px;
  line-height: 32px;
  align-self: center;
  height: 64px;
  width: 75%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.gearSubButtons {
  border-top: solid 1px black;
  text-align: center;
}

.gearFooter {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 64px;
  border-top: solid 1px black;
  font-family: Luminari;
  font-size: 24px;
  line-height: 32px;
}

.centerContent {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.gearBackButton {
  height: 32px;
  width: 60%;
  border: double black 4px;
  background-color: darkgray;
}

.gearConfirmDisabledButton {
  height: 32px;
  width: 60%;
  border: double black 4px;
  background-color: darkgray;
  color: grey
}

.gearConfirmEnabledButton {
  height: 32px;
  width: 60%;
  border: double black 4px;
  background-color: #90ee90;
}

.dropzoneText {
  font-family: Luminari;
  font-size: 14px;
  line-height: 16px;
  padding: 8px;
  text-align: center;
}

.dropzone {
  height: 48px;
  width: 75%;
  border: dotted 2px black;
  background-color: rgba(88, 88, 88, 0.6)
}

.gearTextInputContainer {
  overflow: hidden;
  border: double 1px black;
  background-image: url(../assets/backgrounds/mechanus.png);
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
  width: 40%;
  font-family: Luminari;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em
}

.gearAdderItemList {
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  border: solid 1px black;
}

.checkBoxTextGear {
  font-size: 14px;
  line-height: 16px;
  height: 16px;
}

.checkBoxTextGear input {
  margin: 0;
}

.gearTextInputWriteZone {
  border: solid 1px black;
  width: 75%;
  font-size: 14px;
  line-height: 18px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0px;
  margin: 0px;
  outline: none;
}

.writableTextArea {
  min-width: 100%;
  min-height: 85%;
  border: none;
  padding: 0px;
  resize: none;
}

.gearConfirmLocation {
  position: absolute;
  bottom: 0px;
  left: 25%;
  right: 25%;
  height: 32px;
  border: double black 4px;
  font-family: Luminari;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.Luminari {
  font-family: Luminari
}

.paddingBottom64 {
  padding-bottom: 64px
}

.padding8 {
  padding: 8px;
}

.padding16 {
  padding: 16px;
}

.paddingHorizontal8 {
  padding-right: 8px;
  padding-left: 8px;
}

.paddingRight16 {
  padding-right: 16px
}

.paddingRight24 {
  padding-right: 24px
}

.borderRight {
  border-right: solid 1px black;
}

.botonCerrar {
  top: 3px;
}

.transparent {
  background-color: transparent;
}

.yellowish {
  background-color: #e2e24d;
}

.greenish {
  background-color: #90ee90;
}

.springreen {
  background-color: #00ff7f;
}

.redish {
  background-color: #dc143c;
}

.violet {
  background-color: mediumslateblue;
}

.greyish {
  background-color: #bcbcbc;
}

.colorMapa {
  background-color: rgb(181, 209, 253);
}

.sangron {
  background-color: rgb(129, 70, 70);
}

.floatingBox {
  border-radius: 5px;
  margin: 8px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.width20 {
  width: 20%;
}
.width30 {
  width: 30%;
}

.hoverPoint:hover {
  cursor: pointer;
}

.clickFeedback:active {
  margin-top: 1px;
  margin-bottom: -1px;
}

.marginBottom16 {
  margin-bottom: 16px;
}

.inlineBlock {
  display: inline-block;
}

.scroll {
  overflow: auto;
}

.fullwidth {
  width: 100%;
}

.autoWidth {
  width: auto;
}

.autoHeight {
  height: auto;
}

.overlay {
  background-blend-mode: overlay;
}

iframe[seamless] {
  border: none;
}
