.npcWindow {
  top: 0;
  left: 0;
  height: 48%;
  width: 20%;
}

.navigator {
  top: 11%;
  right: 0;
  width: 20%;
  height: 37%;
}

.cartografoBox {
  top: 0;
  bottom: 21%;
  left: 23%;
  right: 23%;
}

.cartografoContainer {
  position: absolute;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mapImage {
  align-self: center;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
