.buttonRow {
    display: flex;
    width: 100%;
    height: 16px;
    flex-direction: row;
}

.tabButton {
    border-top-right-radius: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
}

.characterRow {
    flex: 1;
    height: 18px;
    border: solid black 1px;
}

.personajesListContainer {
    top: 15px;
}

.searchBar {
    padding-left: 8px;
    border-radius: 8px;
}

.backgroundFuse {
    background-blend-mode: overlay;
}

#pcContainer {
    font-size: 14px;
    line-height: 16px;
}

#PCclaseLvl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: wheat;
    border: solid 1px gainsboro;
}
#PCbackground {
    flex: 1;
    text-align: center;
    background-color: wheat;
    border: solid 1px gainsboro;
}
#PCrace {
    flex: 1;
    text-align: center;
    background-color: wheat;
    border: solid 1px gainsboro;
}
#PCalignment {
    flex: 1;
    text-align: center;
    background-color: wheat;
    border: solid 1px gainsboro;
}
#PCxp {
    flex: 1;
    text-align: center;
    background-color: wheat;
    border: solid 1px gainsboro;
}

#PCHP {
    flex: 1;
    text-align: center;
    background-color: red;
    border: solid 1px gainsboro;
}
#PCarmor {
    flex: 1;
    text-align: center;
    background-color: lightgray;
    border: solid 1px gainsboro;
}
#PCspeed {
    flex: 1;
    text-align: center;
    background-color: green;
    border: solid 1px gainsboro;
}

#PCproficiency {
    flex: 1;
    text-align: center;
    background-color: cadetblue;
    border: solid 1px gainsboro;
}
#PCinitiative {
    flex: 1;
    text-align: center;
    background-color: darkolivegreen;
    border: solid 1px gainsboro;
}
#PCpassivePerception {
    flex: 1;
    text-align: center;
    background-color: lightblue;
    border: solid 1px gainsboro;
}

#PChit-dice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: wheat;
    border: solid 1px gainsboro;
}

#PCstrength {
    flex: 1;
    text-align: center;
    background-color: indianred;
    border: solid 1px gainsboro;
}
#PCdexterity {
    flex: 1;
    text-align: center;
    background-color: darkgreen;
    border: solid 1px gainsboro;
}
#PCconstitution {
    flex: 1;
    text-align: center;
    background-color: brown;
    border: solid 1px gainsboro;
}
#PCintelligence {
    flex: 1;
    text-align: center;
    background-color: dodgerblue;
    border: solid 1px gainsboro;
}
#PCwisdom {
    flex: 1;
    text-align: center;
    background-color: mediumpurple;
    border: solid 1px gainsboro;
}
#PCcharisma {
    flex: 1;
    text-align: center;
    background-color: coral;
    border: solid 1px gainsboro;
}

.proficiencyBoxSignal {
    width: 16px;
    background-color: orange;
    text-align: center;
}

.strBack {
    background-color: indianred;
    border: solid 1px gainsboro;
}
.dexBack {
    background-color: darkgreen;
    border: solid 1px gainsboro;
}
.intBack {
    background-color: dodgerblue;
    border: solid 1px gainsboro;
}
.wisBack {
    background-color: mediumpurple;
    border: solid 1px gainsboro;
}
.chaBack {
    background-color: coral;
    border: solid 1px gainsboro;
}

.backGrey {
    background-color: lavender;
    border: solid 1px gainsboro;
}
.backSilver {
    background-color: silver;
}
.backGold {
    background-color: gold;
}